<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/0cb941d0-16ec-42ae-8279-11e3845c3490/resourcegroups/Chemiklani/providers/Microsoft.Web/sites/Chemiklani</ResourceId>
    <ResourceGroup>Chemiklani</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://chemiklani.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>chemiklani.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Chemiklani</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Chemiklani</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DB" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:chemiklanidbserver.database.windows.net,1433;Initial Catalog=Chemiklani_db;User ID=sqladmin@chemiklanidbserver;Password=Hesoyam12!" Name="Data Source=tcp:chemiklanidbserver.database.windows.net,1433;Initial Catalog=Chemiklani_db;User Id=sqladmin@chemiklanidbserver;Password=Hesoyam12!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\mssqllocaldb;Initial Catalog=Chemiklani;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\mssqllocaldb; Integrated Security=true; Initial Catalog=Chemiklani" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DB-Web.config Connection String">
      <ParameterValue>Data Source=tcp:chemiklanidbserver.database.windows.net,1433;Initial Catalog=Chemiklani_db;User Id=sqladmin@chemiklanidbserver;Password=Hesoyam12!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>